<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.vitamincode.vitamincode_be.mapper.StudentsMapper">    <resultMap id="StudentsResultMap" type="com.vitamincode.vitamincode_be.entity.Students">        <id column="student_id" property="studentId"></id>        <result column="student_name" property="studentName"></result>        <result column="student_email" property="studentEmail"></result>        <result column="class_id" property="classId"></result>    </resultMap>    <select id="findAllStudents" resultMap="StudentsResultMap">        SELECT student_id, student_name, student_email, class_id        FROM students    </select>    <select id="findStudentById" resultMap="StudentsResultMap">        SELECT student_id, student_name, student_email, class_id        FROM students        WHERE student_id = #{studentId}    </select></mapper>